@theme {
  --color-bg-base: #f9f9fb;
  --color-bg-chrome: #d8d8dc;
  --color-bg-surface: #ffffff;
  --color-tab-border-active: #0060df;
  --color-border: #cfcfd8;
  --color-text-primary: #15141a;
  --color-text-muted: #5b5b66;
  --color-accent: #0060df;
  --color-accent-subtle: #deeafc;
}

:root,
.theme-light {
  color-scheme: light;
  --color-bg-base: #f9f9fb;
  --color-bg-chrome: #d8d8dc;
  --color-bg-surface: #ffffff;
  --color-tab-border-active: #0060df;
  --color-border: #cfcfd8;
  --color-text-primary: #15141a;
  --color-text-muted: #5b5b66;
  --color-accent: #0060df;
  --color-accent-subtle: #deeafc;
  --browser-color-bg-base: #f9f9fb;
  --browser-color-bg-chrome: #d8d8dc;
  --browser-color-bg-surface: #ffffff;
  --browser-color-tab-border-active: #0060df;
  --browser-color-border: #cfcfd8;
  --browser-color-text-primary: #15141a;
  --browser-color-text-muted: #5b5b66;
  --browser-color-accent: #0060df;
  --browser-color-accent-subtle: #deeafc;
}

.theme-dark {
  color-scheme: dark;
  --color-bg-base: #1c1b22;
  --color-bg-chrome: #2b2a33;
  --color-bg-surface: #46454f;
  --color-tab-border-active: #00b3f4;
  --color-border: #4a4950;
  --color-text-primary: #fbfbfe;
  --color-text-muted: #9e9ea7;
  --color-accent: #00b3f4;
  --color-accent-subtle: #003050;
  --browser-color-bg-base: #1c1b22;
  --browser-color-bg-chrome: #2b2a33;
  --browser-color-bg-surface: #46454f;
  --browser-color-tab-border-active: #00b3f4;
  --browser-color-border: #4a4950;
  --browser-color-text-primary: #fbfbfe;
  --browser-color-text-muted: #9e9ea7;
  --browser-color-accent: #00b3f4;
  --browser-color-accent-subtle: #003050;
}
